<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Page</title>
</head>
<body>
    <h2>Update Student Information</h2>
    <form method="POST">
        {%csrf_token%}
        Student Number: <input type="text" name="sno" value="{{s.sno}}"><br>
        Student Name: <input type="text" name="name" value="{{s.name}}"><br>
        Student Age: <input type="text" name="age" value="{{s.age}}"><br>
        Department: <input type="text" name="dep" value="{{s.dep}}"><br> 
        <input type="submit" value="UPDATE RECORD">
    </form>
    
</body>
</html>